table.common{width:100%;}table.common tbody tr:nth-child(odd){background-color:rgba(61, 35, 15, 0.05);}
table.common th,table.common td{padding:.4em;}
table.common th{border-bottom:2px solid rgba(61, 35, 15, 0.2);font-weight:bold;}
table.common td{border-bottom:1px solid rgba(61, 35, 15, 0.2);}
