@import "sticky-footer.less";

@background: #eae9d9;
@foreground: #3d230f;
@base-font-size: 16px;

.header {
    background-image: url('/static/images/back.png');
    background-repeat: repeat-x;
    padding: 0 0 0 1em;
}

html, body {
    background-color: @background;
    color: @foreground;
    font-size: @base-font-size;
}
header {
    background-image: url('/static/images/back.png');
    background-repeat: repeat-x;
    padding: 0 0 0 1em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
}
/* Need to do real font sizes, bucko */
h1 {
    font-size: 2em;
}

footer {
    div { text-align: center; }
    .first { text-align: left; }
    .last { text-align: right; }
}

@import "forms.less";
